---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">    
    <div class="post-cabecalho">
      <h4>{{page.title}}</h4> 
      <p>Nome: {{ page.nome }}</p>
      <p>
        Número: <a href="tel:{{ page.numero }}">{{ page.numero }}</a>
        <a href="https://wa.me/55{{ page.numero }}/?text=Peguei%20seu%20contato%20no%20site%20Mulheres%20do%20barro" target="_blank">
          <svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#whatsapp' | relative_url }}"></use>
          </svg>
        </a>
      </p>
      {%- if page.email -%}
      <p>Email: <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
      {%- endif -%}
      {%- if page.instagram -%}
      <a href="https://instagram.com/{{ page.instagram  }}" target="_blank">
        <p> 
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
        </svg>@{{ page.instagram }}</p>
        
      </a>{%- endif -%}
    </div>
    <div class="foto-artesa">
      <img src="{{ page.foto }}">
    </div>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
     </div>
  </header>

  
  
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" ></a>
</article>
